# Ignore all PNG files except screenshots
*.png
!screenshot1.png
!screenshot2.png
!screenshot3.png# Java build output
target/# macOS system files
.DS_Store

# IDE project files
.idea/

# Screenshots and temporary images
*.png

# Fake commit scripts
fake-commits.sh*

# Java build output
target/# macOS system files
.DS_Store

# IDE project files
.idea/

# Screenshots and temporary images
*.png

# Fake commit scripts
fake-commits.sh*target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Storefake-commits.sh*
